@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400&family=Roboto:wght@100&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    color: #ffffff;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top :0;
    left: 0;
    width: 100%;
    background: burlywood;
    z-index: -1;
    }
    canvas#defaultCanvas0 {
    width: 100%;
    height: 100vh;
    }
/* width */
::-webkit-scrollbar {
    width:7px;
    height:7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(
    90deg,#434343,#434343 1px,#111 0,#111);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#C7B696; 
    border-radius:16px;
    transition: 0.5s;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%),
                inset -2px -2px 2px rgb(0 0 0 / 25%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#94866d; 
  }
.overlay-icone-chargement{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index:-2;
    opacity: 0;
    animation:FirstAnimation 7s none;
    transition: 7s All ease-in-out;
}
@keyframes FirstAnimation {
    0%{opacity: 1;z-index: 10000;}
    90%{opacity: 1;z-index: 10000;}
    100%{opacity: 0;z-index:-2;}
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: screen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.918);
    z-index: 120;
}
header ul{
    display: flex;
    position: relative;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    margin-left: 68px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: 0.5s;
}
header ul li a:hover{
    color:#e4812f;
    text-shadow: rgb(0, 0, 0) 2px 1px 10px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}
.content .textBox{
    margin: 30px;
    width: fit-content;
}
.content .textBox h2{
    color:#e4812f;
    font-size: 80px;
    font-family: 'IBM Plex Serif', serif;
}
.content .textBox p {
    max-width: 771px;
    font-weight:600;
    font-size: medium;
    margin-top: 16px;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding:8px 20px;
    border:2px solid #e4812f;
    color: #e4812f;
    font-weight:bold;
    letter-spacing: 1px;
    text-decoration: none;
    transition:all 0.75s ease;
}
.content .textBox a:hover{
    background: rgba(149, 150, 150, 0.603);
    color: #fff;
}
.content .image{
    margin: 40px;
    animation: profile 2s infinite ease-in-out alternate;
}
@keyframes profile{
    from{
        clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
    }
    to{
        clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    }
}
.content .image img{
    object-fit: cover;
    width: 100%;
    filter: grayscale(0.8);
    opacity: 0.95;
}
.part2{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content2{
    position: relative;
    width: 50%;
    height:85vh;
    background-color: rgba(255, 255, 255, 0.767);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact{
    position: relative;
    width: 50%;
    height:85vh;
    background-color: rgba(79, 56, 56, 0.767);
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.contact h1{
    color:#e4812f;
    font-size: 35px;
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 40px;
}
.contact p{
    color:#e4812f;
    font-size: 24px;
    font-family: 'IBM Plex Serif', serif;
    margin: 17px 0;
}
form {
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
}
form a{
    position: absolute;
    right: -24px;
    top: -24px;
    transform: scale(0.6);
    transition:1.3s all ease-in-out;
}
form a img{
    width: 50px;
    filter: invert(0.8);
    transform: rotate(0deg);
    
}
form a img:hover{
    filter: invert(1);
}
input:nth-child(2){
    width: 404px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid black;
    font-size: larger;
    padding: 10px;
    color: #000;
}

.button{
    padding: 6px 33px;
    border-radius: 100px;
    background-color: #d68f0b;
    color: rgb(0, 0, 0);
    border: none;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    transition:0.5s all ease-out;
    border: transparent 1px solid;
}
.button:hover{
    background-color: #f7f7f73b;
    border: #000 1px solid;
    color: #ffffff;
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
textarea{
    width: 404px;
    height: 118px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    resize: none;
    font-size: larger;
    background-color: transparent;
    color:#e4812f;
    border: 2px solid #e4812f;
}
.caret{
    caret-color: #000000;
}
.title2 h1{
    color:#e4812f;
    font-size: 30px;
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 40px;
}
.infoBox {
    font-size: 20px;
    text-align: start;
}
.infoBox p{
    color: #000;
    margin-bottom: 10px;
    font-weight: 600;
}
.logoBox1 {
    margin-top: 15px;
}
.logoBox1 a {
    margin: 20px;
}
.logoBox1 a img{
    height: 52px;
    mix-blend-mode:multiply;
}
.partEnd{
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.partEnd p{
    color:#e4812f;
    font-size: 70px;
    font-family: 'IBM Plex Serif', serif;
}
.downaldCv {
    color:rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    background-color: #ccca;
    display: inline-block;
    margin-top: 20px;
    border-radius: 100px;
    transition: 0.5s;
}
.downaldCv:hover{
    color:rgb(255, 255, 255);
    background-color: rgba(59, 34, 34, 0.667);  
}

.part3{
    padding: 40px 0;
    flex-direction: column;
}

.part3 h1{
    margin-bottom: 48px;
    color:#e4812f;
    font-size: 30px;
    font-family: 'IBM Plex Serif', serif;
}

.contentsBox{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 405px;
    width: 250px;
    font-weight: 600;
    border-radius: 10px;
    text-align: start;
    margin: 10px 32px 39px 32px;
    padding: 19px;
    font-size: small;
    background-color:rgb(217 217 217 / 89%);
}
.element h2{
    color:#e4812f;
}
.element p{
    margin-top: auto;
    color: rgb(11, 11, 11);
}
.element a{
    margin-top: auto;
}
.element img{
    height:65px;
    width: auto;
}
footer{
    position: relative;
    width:100%;
    min-height:30px;
    display: flex;
    justify-content:center;
    align-items:center; 
    background-color: rgb(0, 0, 0);  
    transition:background-image 2s;
}
footer a{
    opacity: .7;
}
footer a:hover{
    opacity: 1;
}
#menu1 {
    opacity:.6;
    transition: 0.5s;
}

#menu1:hover {
    opacity:1;
}
.logoP {
    position: fixed;
    top:90vh;
    background: rgba(204, 204, 204, 0.726);
    left: 10px;
    border: 1px solid #000;
    max-width: 35px;
    border-radius: 10px;
    z-index: 122;
    animation:logo 1.5s infinite alternate-reverse ;
    transition: 0.5s box-shadow,0.5s transform ;
}

@keyframes logo{
    from{box-shadow:0px 0px 0px 0px #C7B696;}
    to{box-shadow:0px 0px 5px 2px #C7B696;}
}
@-webkit-keyframes logo{
    from{box-shadow:0px 0px 0px 0px #C7B696;}
    to{box-shadow:0px 0px 5px 2px #C7B696;}
}
.part4{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.part4 h1{
    color:#e4812f;
    font-family: 'IBM Plex Serif', serif;
    font-size: 60px;
    animation: color 2s infinite ease-in-out alternate-reverse;
}
.scrollDown{
    height: 50px;
    width: 30px;
    border: 2px solid #573800;
    position: absolute;
    left: 50%;
    bottom: 35px;
    border-radius: 50px;
    cursor: pointer;
}
.scrollDown::before,.scrollDown::after{
    content:" ";
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid rgba(212, 108, 3, 0.986);
    height: 10px;
    width: 10px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scrolldown 1s ease-in-out infinite;
}
.scrollDown::after{
    top:20%;
    animation-delay: .3s;
}
@keyframes scrolldown{
0%{
    opacity: 0;
}
30%{
    opacity: 1;
}
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}
}
.part5{
    width: 100%;
    min-height: 100vh;
}
.part5 .firstBox{
    height: 80vh;
    width: 50%;
    background-color:rgba(206, 206, 206, 0.856);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.part5 .firstBox p{
    padding: 23px;
}
.part5 .secondBox{
    height: 60vh;
    width: 50%;
    background-color: rgba(206, 206, 206, 0.856);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.part5 .thirdBox{
    height: 40vh;
    width: 50%;
    background-color:rgba(206, 206, 206, 0.856);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.part5 .firdBox{
    height:25vh;
    width: 50%;
    background-color:rgba(206, 206, 206, 0.856);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.part5 h1{
    margin: 8px;
    font-size: 25px;
    color:transparent;
    -webkit-text-stroke: #d68f0b 2px;
}
.part5 p{
    font-weight: 600;
}
.secondBox img {
    width: 116px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media  only screen and  (max-width:991px){
    /* main{
        display: none;
    } */
    body{
        position: relative;
        background: linear-gradient(-45deg,#141414d8,#292929d9,#192021,#000000);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @-webkit-keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    .content .textBox p {
        max-width: none;
        font-weight: 600;
        font-size: 16px;
        margin: 18px;
        letter-spacing: 2px;
        text-align: justify;
    }
    .content .textBox a:nth-child(1) {
        display: none;
    }
    .content .textBox a{
        font-size: 18px;
        margin-top: 12px;
    }
    .content .image img {
        filter: grayscale(0.9);
        border-radius: 233px;
    }
    .content .image {
        margin: 133px 40px 10px;
        animation: none;
    }
    .content .textBox h2 {
        font-size: 46px;
    }
    header{
        background:#000000de;
        height: 42px;
        z-index: 111;
    }
    header ul {
        display: none;
    }
    header ul li a:hover{
        color: #000000;
        text-shadow: rgba(0, 0, 0, 0) 2px 1px 10px;
    }
    .content {
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .textBox {
        text-align: center;
    } 
    section {
        padding: 0px 10px;
    }
    header ul li a {
        font-size: 28px;
        margin: 28px;
        color: #000000;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(0);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        background: url(close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 112;
        margin-top: 24px;
    }
    header ul.navigation.active{
        position: fixed;
        background-color: #fd9a0fe3;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
        font-size: 4em;
        font-weight: bolder;
        z-index: 111;
    }
    .socialBox {
        display: none;
    }
    .socialBox.active {
        display: flex;
        align-content: flex-end;
        justify-content: center;
        position: fixed;
        bottom: 0;
        z-index: 130;
    }
    .content2 {
        width: 100%;
        height: revert;
        margin-bottom: 65px;
    }
    .infoBox {
        padding-left: 12px;
    }
    .contact {
        position: relative;
        width: 100vw;
        height: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color:transparent;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    form a {
        position: absolute;
        right: -2px;
        transform: scale(0.6);
        transition: 1.3s all ease-in-out;
        top: 89%;
    }
    .contact h1 {
        color: #e4812f;
        font-size: 25px;
        font-family: 'IBM Plex Serif', serif;
        margin-bottom: 22px;
    }
    input:nth-child(1){
        width: 80%;
    }
    input:nth-child(2) {
        width: 80%;
    }
    textarea{
        width: 80%;
    }
    .logoBox1 a img {
        height: 43px;
    }
    .part2{
        flex-direction: column;
        height: 100%;
    }
    .partEnd p {
        text-transform: uppercase;
        font-size: 33px;
        text-align: center;
    }
    .downaldCv{
        font-size: large;
    }

    .part3 h1{
        margin-bottom: 24px;
        text-align: center;
    }

    .contentsBox {
        flex-direction: column;
    }

    .element {
        flex-direction: column;
        height: 351px;
        width: 323px;
        text-align: start;
        margin-top: 46px;
        margin-left: 0;
        margin-right: 0;
    }

    .contentsBox2 {
        margin-top: 18px;
    }
    .logoP {
        display: none;
    }
    .part4 h1{
        font-size: 40px;
        text-align: center;
        animation: color 2s infinite ease-in-out alternate-reverse;
    }
    .scrollDown {
        height: 60px;
        width: 40px;
        border: 3px solid #573800;
        position: absolute;
        left: 47.5%;
        bottom: 45px;
        border-radius: 50px;
        cursor: pointer;
    }
 .part5 {
    flex-direction: column;
    font-size: medium;
 }
 .part5 p{
    padding-left: 14px;
 }
 .part5 h1 {
    font-size: larger;
 }
 .part5 .firstBox {
    height:100%;    
    width: 100%;
    background-color: rgba(206, 206, 206, 0.26);
    border-radius: 9px;
    margin-bottom: 10px;
}
.part5 .secondBox {
    height: 148px;
    width: 80%;
    background-color: rgba(206, 206, 206, 0.26);
    border-radius: 9px;
    margin-bottom: 10px;
}
 .part5 .thirdBox {
    height: 191px;
    width: 65%;
    background-color: rgba(206, 206, 206, 0.26);
    border-radius: 9px;
    margin-bottom: 10px;
 }
 .part5 .firdBox {
    height: 148px;
    width: 50%;
    background-color: rgba(206, 206, 206, 0.26);
    border-radius: 9px;
    margin-bottom: 10px;
 }
 .partEnd {
    height: 200px;
}
i{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100px;
    background:linear-gradient(transparent,rgba(255, 255, 255, 0.856));
    z-index: -2;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform:translateY(-800px);
    }
    100%{
        transform: translateY(calc(60vh + 100px));
        /*200px hit toul dyala 200px noukta dyal chta*/
    }
}
}

@media only screen and (min-width: 1400px) {
    header{
        height: 58px;
    }
    header ul li a {
        display: inline-block;
        margin: 63px;
        text-decoration: none;
        color: white;
        font-size: 23px;
        transition: 0.75s;
    }
    .content .textBox h2 {
        color:#e4812f;
        font-size: 79px;
    }
    .content .textBox p {
        font-size: x-large;
    }
    .content .textBox a {
        font-size: 24px;
    }
    .socialBox li a img {
        width: 64px;
        margin: 27px;
    }
    .logoBox1 a img {
        height: 89px;
    }
    .infoBox p {
        font-size: 24px;
    }    
    .partEnd p {
        text-transform: uppercase;
        font-size: 5em;
        text-align: center;
    }
    .downaldCv{
        font-size: x-large;
    }
    .element {
        flex-direction: column;
        height: 600px;
        width: 437px;
        margin: 10px 11px 39px 11px;
        text-align: start;
        margin-top: 46px;
        font-size: 21px;
    }
    .part3 h1{
        font-size: xx-large;
        margin-bottom: 28px;
    }
    .element img {
        height: 94px;
    }
    footer a {
        font-size: larger;
    }
    .logoP {
        right: 37px;
        max-width: 70px;
    }
    .part4 h1 {
        font-size: 98px;
    }
    .scrollDown {
        height: 71px;
        width: 43px;
        border: 3px solid #573800;
        position: absolute;
        left: 50%;
        bottom: 54px;
        border-radius: 50px;
        cursor: pointer;
    }
    .part5 {
        font-size: x-large;
    }
    .contact h1 {
        font-size: 39px;
    }
    .contact p {
        font-size: 32px;
    }
    input:nth-child(2) {
        width: 427px;
        height: 34px;
        font-size: 22px;
    }
    textarea {
        width: 427px;
        height: 176px;
        font-size:22px;
    }
    .button {
        font-size: large;
    }
    .secondBox img {
        width: 168px;
        margin-bottom: 13px;
        margin-top: 10px;
    }
    footer{
        min-height: 45px;
        font-size: 25px;
    }
    .part5 .firstBox {
        height: 66vh;
        width: 50%;
    }
    .part5 .secondBox {
        height: 48vh;
    }
    .part5 .thirdBox {
        height: 33vh;
    }
    .part5 .firdBox {
        height: 21vh;
    }
    form a img {
        width: 75px;
    }
    form a {
        right: -38px;
        top:-38px;
    }
}

@media only screen and (min-width:2200px){
    header ul li a {
        margin: 94px;
        font-size: 31px;
    }
    .content .textBox h2 {
        color:#d68f0b;
        font-size: 112px;
    }
    .content .textBox p {
        font-size: xx-large;
        max-width: 1149px;
        font-weight: 500;
    }
    .content .textBox a {
        font-size: 34px;
    }
    .socialBox li a img {
        width: 85px;
        margin: 27px;
    }
    .title2 h1 {
        margin-bottom: 55px;
        font-size: xx-large;
    }
    .infoBox p {
        font-size: 36px;
    }
    .logoBox1 a img {
        height: 98px;
        margin-top: 58px;
    }
    .logoBox1 a img {
        height: 127px;
        margin: 0px 39px;
        margin-top: 54px;
    }    
    .partEnd p {
        text-transform: uppercase;
        font-size: 7em;
        text-align: center;
    }
    .downaldCv{
        font-size: xx-large;
    }
    .part3 h1{
        font-size:52px;
        margin-bottom: 84px;
    }
    .element {
        height: 810px;
        width: 640px;
        font-size: 31px;
        margin: 0px 28px 44px 62px;
        padding: 47px;
    }
    .element img {
        height: 128px;
    }
    footer a {
        font-size: xx-large;
    }
    .logoP {
        right: 49px;
        max-width: 80px;
    }
    .scrollDown {
        height: 96px;
        width: 55px;
        border: 3px solid #573800;
        position: absolute;
        left: 50%;
        bottom: 67px;
        border-radius: 50px;
        cursor: pointer;
    }
    .part5 {
        font-size: xx-large;
    }
    .secondBox img {
        width: 200px;
        margin-bottom: 13px;
        margin-top: 12px;
    }
}
